<style>
    .code  {
        font-size: 24px;
        font-weight: bold;
    }    
</style>
<div>
    <h1>
        Hello!
    </h1>
    <p>
        Hi!<br/>
        Here is the confirmation code for your Email.<br/>
        <div class="code">
            <%= code%>
        </div>
            Copy the confirmation code and paste it to your form for sign up.
    </p>
</div>